@use "./variables" as *;

.chatWindow{
    border: 1px solid black;
    width: 500px;
    height: 300px;
    margin: 2% auto 0 auto;
    overflow: auto;
    position: relative;
    width: min(50%,120rem);
    border-radius: 2rem 2rem 0 0 ;
    box-shadow: $boxShadowConfig1;
  }

  .messageForm{
    width: min(50%,120rem);
      margin: 0 auto;
      @include flex(row, flex-start,flex-start,nowrap);
    label{
      display: none;
    }
    button{
      padding: 1rem;
      margin: 0;
      border-radius: 0 0 2rem 0;
    }
    input{
      flex-grow: 1;
      padding: 1rem;
      border-radius: 0 0 0 2rem;
    }
  }
  
  .msgBody{
    padding: 1%;
    position: relative;
    
    //need a margin at the bottom
    margin: 5px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .msgFlexParent{
      @include flex(row,flex-start,center,nowrap);
    }

    .text{
      background-color: green;
      color: white;
      width: fit-content;
      padding: 10px;
      border-radius: 0px 10px 10px 0px;
      padding-left: 25px;
      transform: translateX(-15px);
    }
  }

  
  .imgDiv{
    width: 3rem;
    z-index: 100;
    img{
      width: 100%;
      border-radius: 50%;
    }
  }

  .me{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
    margin: 5px;

    .msgFlexParent{
      @include flex(row-reverse,flex-end,center,nowrap);
    }
    
  }
  
  .text{
    background-color: green;
    color: white;
    width: fit-content;
    padding: 10px;
    border-radius: 10px 0 0 10px;
    padding-right: 25px;
    transform: translateX(15px);
  }
  
  .userName{
    background-color: lightblue;
    color: black;
    width: fit-content;
    padding: 0;
    border-radius:10px 0 0 0 ;
    font-size: 0.8rem;
  }

.messageEndDiv{
    transform: translateY(50px);
    height: 10px;
}

.enterOrExit{
  color: black;
  background: beige;
}

.bigDeleteButton{
  background: red;
  color: white;
  font-size: 20px;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  text-align: center;
  padding: 0;
}