@use "./variables" as *;

.entryForm{
    border: 2px solid black;
    width: min(50%,120rem);
    margin:10% auto;
    padding: 10%;
    border-radius: 5rem;
    background: trnasparent;
    box-shadow: $boxShadowConfig1;
    min-width: 320px;
}

.inputContainer{
    @include flex(column,center,center,wrap);
    padding: 3%;
    label{
        padding: 3%;
    }
    input{
        background: transparent;
        border: none;
        border-bottom: 2px solid green;
    }
}



button{
    padding: 5%;
    border-radius: 10px;
    background: lightgreen;
    margin: 1rem;
}